@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-primary;

  /* remove scroll bar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.text-shadow {
  text-shadow: 2px 2px 4px #ffffff;
}

html.dark .text-shadow:not(#welcome .text-shadow) {
  text-shadow: 2px 2px 4px #27374d;
}

body {
  @apply bg-info dark:text-accent dark:bg-dark-primary select-none text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply select-none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  @apply text-info rounded-md border-none bg-primary;
}

.btn:hover {
  @apply bg-neutral;
}

.btn:active {
  @apply text-active scale-90;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-booking {
  @apply dark:bg-dark-primary;
}

.btn-booking:hover {
  @apply dark:bg-dark-accent text-dark-primary;
}

.btn-booking:active {
  @apply text-dark-primary scale-90;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-info-img {
  @apply h-[4vh] w-[6vw] lg:h-[3vh] lg:w-[3vw];
}

.scrollbar-none::-webkit-scrollbar {
  @apply hidden;
}

.nav-container {
  @apply flex h-full w-full items-center justify-start;
}

.company-logo {
  @apply dark:text-secondary text-xl font-bold md:text-4xl lg:text-2xl;
}

.company-logo span {
  @apply text-company-accent dark:text-dark-company-accent;
}
.burger-btn {
  @apply relative ml-auto flex h-[40px] w-[40px];
}

.burger-btn span {
  @apply dark:bg-dark-accent absolute left-1/2 top-1/2 z-[30] h-[5px] w-full -translate-x-1/2 -translate-y-1/2 rounded-[25px] bg-primary transition-all duration-300;
}

.burger-btn span:nth-child(1) {
  @apply top-[25%];
}

.burger-btn span:nth-child(3) {
  @apply top-[75%];
}

.burger-btn.active span:nth-child(1) {
  @apply top-[50%] rotate-45;
}

.burger-btn.active span:nth-child(2) {
  @apply opacity-0;
}

.burger-btn.active span:nth-child(3) {
  @apply top-[50%] -rotate-45;
}

.burger-menu {
  @apply bg-sky dark:bg-dark-primary fixed -right-[120%] top-0 z-20 flex h-screen w-full max-w-[50%] flex-col items-center justify-center transition-all duration-300;
}

.burger-menu.active {
  @apply right-0;
}

.burger-menu-outer.active {
  @apply right-0;
}

.burger-menu-outer {
  @apply fixed -right-[130%] top-0 z-10 h-screen w-full bg-[#29353c90];
}

.dark-btn-mobile {
  @apply absolute bottom-0 right-0 flex;
}

.btn:hover {
  @apply bg-neutral;
}

.btn:active {
  @apply text-active scale-90;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.copyleft {
  @apply text-placeholder-text dark:bg-dark-secondary flex h-12 w-screen items-center justify-center bg-primary leading-5 md:h-16 lg:h-10 lg:w-auto;
}

.carousel-control {
  @apply hidden;
}

.nav-link {
  @apply select-none;
}

.nav-anchor {
  @apply rounded-lg hover:scale-125;
}

#toggleDark:checked ~ label div.toggle-circle {
  @apply translate-x-2; /* Applies translate-x-3 when checked */
}

/* dark mode hero icons */
.fill-current {
  fill: currentColor; /* Use current text color */
}

.dark .fill-current {
  color: #ffffff; /* White fill for dark mode */
}

.fill-current {
  color: #1e1e1e; /* Default fill color */
}

@media (min-width: 1024px) {
  .carousel-open:checked + .carousel-item {
    @apply static opacity-100;
  }
  #carousel-1:checked ~ .control-1,
  #carousel-2:checked ~ .control-2,
  #carousel-3:checked ~ .control-3 {
    @apply block;
  }
  .carousel-control {
    @apply text-secondary absolute z-10 hidden h-12 w-12 cursor-pointer rounded-full bg-primary/50 text-center text-4xl leading-9 transition delay-100 ease-in-out;
  }

  .carousel-control.prev {
    @apply left-[8vw] top-[172vh] select-none 2xl:top-[150vh];
  }

  .carousel-control.next {
    @apply right-[8vw] top-[172vh] select-none 2xl:top-[150vh];
  }

  .carousel-control:hover {
    @apply bg-primary/20 text-[#aaa];
  }

  .carousel-item {
    @apply absolute opacity-0;
  }

  .text-shadow {
    text-shadow: none;
  }
  .hero-shadow {
    @apply border-neutral absolute right-[10vw] top-[25vh] z-auto h-[40vh] w-[36vw] rounded-bl-2xl rounded-br-[10vw] rounded-tl-[10vw] rounded-tr-2xl border-[4px];
  }
  .dark-btn-mobile {
    @apply hidden;
  }

  /* animation */

  .hoverimg:hover {
    @apply scale-105 cursor-pointer rounded-xl drop-shadow-lg;
  }

  .typewriter {
    @apply overflow-hidden whitespace-nowrap;
    letter-spacing: 0.15em;
    animation:
      typing 1s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .slide-in-right {
    animation: slideInRight 1s ease-out;
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
  }
  .slide-in-left {
    animation: slideInLeft 1s ease-out;
  }

  .fade-in-image {
    animation: fadeIn 1s ease-in-out;
  }

  .fade-in-bottom {
    animation: fadeInBottom 0.5s ease-out;
  }
  .fade-in-left {
    animation: fadeInLeft 0.5s ease-out;
  }

  @keyframes fadeInBottom {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translate-x-1(0);
    }
  }
}
