@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #d2dce6;
  --primary: #192524;
  --secondary: #d1ebdb;
  --font-family: "Instrument Sans", sans-serif;
  --font-color: #44576d;
}

html {
  font-family: var(--font-family);

  /* remove scroll bar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.text-shadow {
  text-shadow: 2px 2px 4px #ffffff;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  border-radius: 4px;
  border: none;
  color: #dfebf6;
  background-color: #44576d;
}

.btn:hover {
  background-color: #768a96;
}

.btn:active {
  transform: scale(0.9);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: #efece9;
}

.hero-info-img {
  @apply w-[6vw] h-[4vh] lg:w-[3vw] lg:h-[3vh];
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.nav-container {
  @apply flex w-full h-full justify-start items-center;
}

.company-logo {
  @apply text-xl md:text-4xl lg:text-2xl font-bold;
}

.company-logo span {
  @apply text-[#86373e];
}
.burger-btn {
  @apply flex relative h-[40px]   w-[40px] ml-auto;
}

.burger-btn span {
  @apply absolute h-[5px] w-full bg-[#44576d] rounded-[25px] z-[30] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all duration-300;
}

.burger-btn span:nth-child(1) {
  @apply top-[25%];
}

.burger-btn span:nth-child(3) {
  @apply top-[75%];
}

.burger-btn.active span:nth-child(1) {
  @apply top-[50%] rotate-45;
}

.burger-btn.active span:nth-child(2) {
  opacity: 0;
}

.burger-btn.active span:nth-child(3) {
  @apply top-[50%] -rotate-45;
}

.burger-menu {
  @apply flex flex-col justify-center items-center fixed z-20 top-0 -right-[450px] bg-[#aac7d8] h-screen w-full max-w-[50%] transition-all duration-300;
}

.burger-menu.active {
  @apply right-0;
}

.burger-menu-outer.active {
  @apply right-0;
}

.burger-menu-outer {
  @apply fixed h-screen w-full top-0 -right-[450px] md:-right-[820px] z-10 
  bg-[#29353c90];
}

.copyleft {
  @apply flex justify-center items-center leading-5 h-12 md:h-16 lg:h-10 w-screen lg:w-auto bg-[#44576d] text-[#e6e6e6];
}

@media (min-width: 1024px) {
  .hero-shadow {
    @apply absolute z-auto border border-[#768a96] top-[20vh] right-[10vw] w-[36vw] h-[30vh] rounded-tl-[10vw] rounded-tr-2xl rounded-bl-2xl rounded-br-[10vw];
  }
  /* animation */
  .slide-in-right {
    animation: slideInRight 1s ease-out;
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in-image {
    animation: fadeIn 1s ease-in-out;
  }
}
